## DSA - Mock Test -1

In [2]:
'''
 Move Zero
Given an integer array nums, move all 0's to the end of it while maintaining the relative order of the non-zero elements.

Note that you must do this in-place without making a copy of the array.

Example 1:
Input: nums = [0,1,0,3,12]
Output: [1,3,12,0,0]

Example 2:
Input: nums = [0]
Output: [0]

Constraints:
a. 1 <= nums.length <= 10^4
b. -2^31 <= nums[i] <= 2^31 - 1

'''

"\n Move Zero\nGiven an integer array nums, move all 0's to the end of it while maintaining the relative order of the non-zero elements.\n\nNote that you must do this in-place without making a copy of the array.\n\nExample 1:\nInput: nums = [0,1,0,3,12]\nOutput: [1,3,12,0,0]\n\nExample 2:\nInput: nums = [0]\nOutput: [0]\n\nConstraints:\na. 1 <= nums.length <= 10^4\nb. -2^31 <= nums[i] <= 2^31 - 1\n\n"

In [9]:
nums = [0,1,0,3,12]

for i in range(len(nums)):
  if nums[i] == 0:
    nums.append(nums[i])
    nums.remove(nums[i])
  else:
    continue
print(nums)

[1, 3, 12, 0, 0]

In [6]:
nums = [12,7,0,1,4,0,6,0,14]

for i in range(len(nums)):
  if nums[i] == 0:
    nums.append(nums[i])
    nums.remove(nums[i])
  else:
    continue
print(nums)

[12, 7, 1, 4, 6, 14, 0, 0, 0]

In [7]:
nums = [0,25,12,7,0,1,4,0,6,0,24,0]

for i in range(len(nums)):
  if nums[i] == 0:
    nums.append(nums[i])
    nums.remove(nums[i])
  else:
    continue
print(nums)

[25, 12, 7, 1, 4, 6, 24, 0, 0, 0, 0, 0]

In [8]:
nums = [0]

for i in range(len(nums)):
  if nums[i] == 0:
    nums.append(nums[i])
    nums.remove(nums[i])
  else:
    continue
print(nums)

[0]

In [10]:
'''
First Unique Character in a String

Given a string s, find the first non-repeating character in it and return its index. If it does not exist, return -1.

Example 1:
Input: s = "leetcode"
Output: 0

Example 2:
Input: s = "loveleetcode"
Output: 2

Example 3:
Input: s = "aabb"
Output: -1

Constraints:
a. 1 <= s.length <= 10^5
b. s consists of only lowercase English letters.

'''

'\nFirst Unique Character in a String\n\nGiven a string s, find the first non-repeating character in it and return its index. If it does not exist, return -1.\n\nExample 1:\nInput: s = "leetcode"\nOutput: 0\n\nExample 2:\nInput: s = "loveleetcode"\nOutput: 2\n\nExample 3:\nInput: s = "aabb"\nOutput: -1\n\nConstraints:\na. 1 <= s.length <= 10^5\nb. s consists of only lowercase English letters.\n\n'

In [21]:
string = input("Enter a string: ")
str_count = []
for char in string:
  str_count.append(string.count(char))
  if string.count(char) < 2:
    print(string.index(char))
    break
if 1 not in str_count:
  print(-1)

Enter a string: loveleetcode
2

In [23]:
string = input("Enter a string: ")
str_count = []
for char in string:
  str_count.append(string.count(char))
  if string.count(char) < 2:
    print(string.index(char))
    break
if 1 not in str_count:
  print(-1)

Enter a string: leetcode
0

In [24]:
string = input("Enter a string: ")
str_count = []
for char in string:
  str_count.append(string.count(char))
  if string.count(char) < 2:
    print(string.index(char))
    break
if 1 not in str_count:
  print(-1)

Enter a string: aabb
-1

In [22]:
string = input("Enter a string: ")
str_count = []
for char in string:
  str_count.append(string.count(char))
  if string.count(char) < 2:
    print(string.index(char))
    break
if 1 not in str_count:
  print(-1)

Enter a string: abcabcdef
6

## Thank You

## Abhishek Mohan, FSDS-2.0